extends layout

block content
  h1 Url Shortener Microservice
  p enter https://chaddurlshortener.herokuapp.com/new/(url you want to shorten)
  p a json object will be created with the original and the shortened url

  h2 Example creation usage:
  p https://chaddurlshortener.herokuapp.com/new/http://www.facebook.com
  p https://chaddurlshortener.herokuapp.com/new/http://yahoo.com

  h2 Example Output:
  p { url: "http://www.facebook.com", shortUrl: "https://chaddurlshortener.herokuapp.com/1002" }

  h2 Usage:
  p https://chaddurlshortener.herokuapp.com/1002

  h2 Will redirect to:
  p http://www.facebook.com
